body {
	color: #4d4d4d;
}

h1, h2, h3, h4, h5, p, ul, ol {
    font-family: 'Rubik', sans-serif;
}

a {
	color: #65CBC9;
}

a:hover {
	color: #5C6670;
}

.odd {
    background: #EFEFF0;
    font-size: 16px;
}

.even {
    background: #DDDDDD;
    font-size: 16px;
}

.odd h4, .even h4 {
    color: #65CBC9;
	font-size: 20px;
	font-weight: 400;
}

.odd span, .even span {
    color: #999999;
	font-size: 16px;
}

.odd p, .even p {
    margin-bottom: 5px;
    font-size: 16px;
}

header {
    background-color: #EFEFF0;
    height: 40px;
    width: 100%;
}

.arrow {
    color: #fff;
    height: auto;
    width: 100%;
}

.arrow .nav_button {
    float: left;
}

.arrow span {
    float: left;
}

.arrow .logo {
    padding: 10px 0;
    float: left;
}

.arrow span {
    color: #666666;
    padding: 10px;
    text-transform: uppercase;
}

.arrow .nav_info {
    padding: 10px;
    float: left;
}

.header_section {
    background: #5C6670;
    height: auto;
    width: 100%;
    padding: 40px 0;
    
}


.header_section .better_world {
    float: right;
}

.logos {
    background: #EFEFF0;
    border-top: 10px solid #CCCCCC;
    height: 100%;
    width: 100%;
}

.home_main_content {
    padding: 40px 0;
}

.home_main_content img {
    display: block;
    height: auto;
    width: 100%;
}

.wrapper_content p {
    font-size: 19px;
    line-height: 1.8;
}

.sidebar_header {
    background: #5C6670;
    border-top: 10px solid #65CBC9;
    border-radius: 0;
    color: #ffffff;
    margin-top:20px;
    padding: 15px 0;
}

.sidebar_header h3 {
    font-weight: 400;
    margin: 0;
}

.wrapper_sidebar img {
    width: 100%;
    height: auto;
}

.secondary_footer {
    background: #65CBC9;
    height: 40px;
    width: 100%;
    color: #ffffff;
}

.secondary {
    display: block;
}

.secondary_footer p {
    padding: 10px 0;
}

.footer_icons ul {
    padding-left: 0;
    margin-bottom: 0;
}

.footer_icons ul li {
    display: inline-block;
	float: left;
}

.footer_icons ul li a {
    width: 40px;
    height: 40px;
	line-height: 40px;
    display: block;
    font-family: 'socicon';
    font-size: 22px;
    color: #ffffff;
    text-align: center;
	background-color: #5C6670;
}

.footer_icons ul li a:hover {
    background-color: #65CBC9;
    text-decoration: none;
}

footer {
    background: #5C6670;
    height: auto;
    width: 100%;
    padding: 62px 0;
}

section.logos .logo_gallery {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 1920px;
}

.logos .logo_gallery .logo_img {
    float: left;
}

.logo_gallery a {
    height: 100%;
    width: 100%;
    display: block;
}

.logo_gallery img {
    width: 240px;
    height: 150px;
    display: block;
}

.logo_gallery img:hover {
    opacity: 0;
}

.logo_gallery .accraply:hover {
    background: url('/images/hoverstates/accraply-hoverstate.jpg') no-repeat;
    width: 240px;
    height: 150px;
}

.logo_gallery .bw-containers:hover {
    background: url('/images/hoverstates/bw-container-systems-hoverstate.jpg') no-repeat;
    width: 240px;
    height: 150px;
}

.logo_gallery .design-group:hover {
    background: url('/images/hoverstates/design-group-hoverstate.jpg') no-repeat;
    width: 240px;
    height: 150px;
}

.logo_gallery .hayssen:hover {
    background: url('/images/hoverstates/hayssen-hoverstate.jpg') no-repeat;
    width: 240px;
    height: 150px;
}

.logo_gallery .pcmc:hover {
    background: url('/images/hoverstates/paper-converting-hoverstate.jpg') no-repeat;
    width: 240px;
    height: 150px;
}

.logo_gallery .psa:hover {
    background: url('/images/hoverstates/psa-hoverstate.jpg') no-repeat;
    width: 240px;
    height: 150px;
}

.logo_gallery .synerlink:hover {
    background: url('/images/hoverstates/synerlink-hoverstate.jpg') no-repeat;
    width: 240px;
    height: 150px;
}

.logo_gallery .pcmc:hover {
    background: url('/images/hoverstates/paper-converting-hoverstate.jpg') no-repeat;
    width: 240px;
    height: 150px;
}

.logo_gallery .thiele:hover {
    background: url('/images/hoverstates/thiele-hoverstate.jpg') no-repeat;
    width: 240px;
    height: 150px;
}

ul.home-banners {
	margin: 0;
	padding: 0;
}
ul.home-banners li {
	list-style-type: none;
	margin: 0 0 30px;
}

/* Event Page */

.event_title {
    color: #65CBC9;
    font-size: 46px;
    font-weight: 400;
}

.event_booth {
	color: #5C6670;
	font-size: 32px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 30px;
}

.event_booth .addtocalendar {
	float: right;
}

.event_booth .addtocalendar li.atcb-item:hover {
	background: #65CBC9 !important;
}

.event_booth .addtocalendar a.atcb-link {
	background: #65CBC9 !important;
}

.event_subtitle {
	color: #5C6670;
	font-weight: 400;
}

.event_info {
	margin: 30px 0;
}

.main_content .sidebar_title {
    color: #5C6670;
    font-size: 25px;
    font-weight: 400;
}

.main_content .event_info h4 {
    color: #65CBC9;
    font-size: 20px;
    font-weight: 400;
}

.main_content .description h4 {
    color: #65CBC9;
    font-size: 20px;
    font-weight: 400;
}

.main_content .description, .main_content .examples {
	margin-top: 30px;
}

.main_content .examples h4 {
    color: #65CBC9;
    font-size: 20px;
    font-weight: 400;
}

.main_content .examples .list-border {
    border: none !important;
    background-color: #EFEFF0;
}

.main_content .greybackground {
    background-color: #EFEFF0;
    min-height: 1400px;
    width: 46%;
    display: block;
    z-index: -1;
    position: absolute;
    right: 0;
}

.main_content .whitebackground { 
    padding: 40px 40px 40px 0;
    background: #fff;
}

.main_content .sidebar_wrapper {
    padding: 40px 0 40px 40px;
	background-color: #EFEFF0;
	min-height: 1250px;
}

ul.unstyled {
    padding-left: 17px;
}

ul.unstyled li {
    padding-bottom: 10px;
    font-style: italic;
}

label.sfTxtLbl, label {
	font-family: 'Rubik';
	font-weight: 400 !important;
	font-size: 14px;
	color: #5C6670;
	text-transform: uppercase;
}

input[type=text], input[type=email], input[type=phone], textarea {
    border: none;
    box-shadow: none;
	border-radius: 5px;
	width: 94% !important;
	padding: 3% !important;
}

input[type=submit] {
    background: #5C6670;
    border-radius: 0;
    border: none;
    color: #ffffff;
    padding: 20px 40px !important;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
	cursor: pointer;
}
input[type=submit]:hover {
	background: #fff;
	color: #5C6670;
}

.sfSuccess {
	margin-top: 20px;
	text-align: left;
	color: #fff;
	font-size: 14px;
	font-family: 'Rubik';
	background: #5C6670;
	padding: 30px;
}


.form_container {
	margin-top: 30px;
} 

.form_container h4 {
    color: #65CBC9;
    font-size: 20px;
    font-weight: 400;
}

.form_container .checkbox label, .radio label {
    color: #999999;
}

.header_container {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    float: left;
    width: 100%;
    position: relative;
    right: 50%;
}

.wrapper .half_col_1 {
    float: left;
    width: 46px;
    position: relative;
    left: 52%;
    overflow: hidden;
    background: red;
}

.wrapper .half_col_2 {
    float: left;
    width: 46%;
    position: relative;
    left: 56%;
    overflow: hidden;
    background: green;
}


/* Mega Menu */
.navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
    width: 40px;
    float: left;
    font-weight: bold;
    padding: 0;
    
}

.mega-dropdown {
  position: static !important;
  width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    background: #6a757e;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
}

.mega-dropdown-menu ul {
    list-style: none;
}
/*
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #6a757e;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 17px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 15px solid #6a757e;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 17px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {

  padding: 0;
  margin: 0;
}
*/
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 100;
  line-height: 1.428571429;
  color: #ffffff;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #65CBC9;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.header_logo {
    float: left;
    padding: 7px 20px;
}

.navbar {
    border: none;
    border-radius: 0;
    min-height: 40px !important;
}
.navbar .navbar-collapse {
	padding: 0 !important;
}

.mobile_logos {
    background: #EFEFF0;
}

/******************* Mobile Nav *************************/

.mobile_navbar {
    z-index: 5;
    background-color: #6a757e;
    color: #fff;
}

.navbar-default .navbar-nav>li.mobile_list {
    padding: 5px 10px;
}

.navbar-default .navbar-nav>li.mobile_list>a {
    width: 100%;
    float: none;
    font-weight: 100;
    color: #ffffff;
}

.mobile_nav {
    margin: 0;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover {
    background-color: #63CBCE;
    border: 0px solid #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

/******************* Slider Styles **********************/

.owl-pagination {
    display: none;
}


/******************* Media Quries ***********************/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    img.header_packing_img {
        height: auto;
        width: 100%;
        display: block;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    img.header_packing_img {
        height: auto;
        width: 100%;
        display: block;
    }
    
    img.better_world {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .whitebackground, .sidebar_wrapper {
        padding: 0;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    img.header_packing_img {
        height: auto;
        width: 100%;
        display: block;
    }
    
    img.better_world {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
        padding-top: 20px;
    }
    
    .whitebackground, .sidebar_wrapper {
        padding: 0 25px !important;
    }
    
    .mobile_copy {
        padding-top: 25px;
        color: #ffffff;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    img.header_packing_img {
        height: auto;
        width: 100%;
        display: block;
    }
    
    img.better_world {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
        padding-top: 20px;
    }
    
    .mobile_copy {
        padding-top: 25px;
        color: #ffffff;
    }
}
/* test code for nav */
/*
.navbar-header button {
    width: 60%;
    height: 40px;
    border: #000 solid 1px;
    display: block;
    float: left;
}*/
